<div>
  <div class="card border rounded-3 overflow-hidden">
    <div class="row g-0 align-items-center">
      <div class="col-sm-6">
        <img src="{{ asset('build/images/offer/01.jpg') }}" class="card-img rounded-0" alt="">
      </div>

      <div class="col-sm-6">
        <div class="card-body px-3">
          <h6 class="card-title">
            <a href="{{ path('home_index') }}" class="stretched-link">
              {{ postDto.title }}
            </a>
          </h6>

          <p class="mb-0">
            {{ postDto.content|u.truncate(70, '...') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>