<div>
  <div class="card card-body bg-light text-center align-items-center">
    <img src="{{ asset('build/images/icons8/icons8-new-contact-96.png') }}" class="h-70px mb-3" alt="">

    <h6 class="mb-0">
      <a href="#" class="stretched-link">
        Lorem ipsum {{ i }}
      </a>
    </h6>
  </div>
</div>