{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'wedding-list'|trans }}
{% endblock %}

{% block page_title %}
  {{ 'wedding-list'|trans }}
{% endblock %}

{% block page_content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock %}